h1{
    color: darkgoldenrod;
    text-align: center;
    text-decoration-line: underline;
    font-weight: 900;
}
body {
  background-image:url(image/1.jpg);
}
menu{
    color: brown;
    width: 400px;
    float:left;
    height: 100px;

   ul{
      float: left;
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
}
}
h2{
    color: slateblue;
    font-weight: 900px;
    

}
.player {
    background:black;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.player p {
    color: aliceblue;
    margin-bottom: 30px;
    font-weight:bolder;
}
footer {
    background-color: #222;
    color: green;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}
button{
    align-items: center;
    color: #222;
    font-size: larger;
    background-color:teal;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px; 
    
}
